@import "../../../../utils/styles/colors.scss";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 48px;
  max-height: 100%;
  border: 1px solid $border--color;
  align-items: center;
  outline: none;
  background-color: $white;
  border-bottom: 0;

  .column {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 8px 16px;

    &.align-content- {
      &left {
        text-align: left;
        justify-content: flex-start;
      }

      &center {
        text-align: center;
        justify-content: center;
      }

      &right {
        text-align: right;
        justify-content: flex-end;
      }
    }

    &.flex-1 { flex: 1 }
    &.flex-2 { flex: 2 }
    &.flex-3 { flex: 3 }
  }
}
