@import "../../utils/styles/colors.scss";

.text {
  composes: cut-text from "../../utils/styles/cut-text.scss";
  color: $ink;
  font-size: 14px;
  line-height: 18px;
}

.strong {
  font-weight: 700;
}
