$button--primary-background: linear-gradient(to bottom, #ffd532, #ffb500);
$button--secondary-background: linear-gradient(to bottom, #e4dfdf, #c0c0c0);

$button--active-shadow: inset 1px 1px 7px 0px rgba(84,84,84,0.2);

$ink: #33312e;
$white: #ffffff;

$border--color: #dedede;
$border--color-lighter: #efefef;
$spinner--color: #ffd532;
$input--hover: #f1efef;
$background: #f9f8f8;
