.Spinner {
  margin: 24px auto;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #ffd532;
  border-right-color: transparent;
  border-radius: 50%;
}

.small {
  height: 16px;
  width: 16px;
}

.medium {
  height: 32px;
  width: 32px;
}

.large {
  height: 64px;
  width: 64px;
}

.inverseColor {
  border-color: #ffffff;
  border-right-color: transparent;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
